@model RIC.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
   .SubmitButtonTr{
        padding-right: 35% !important;
        padding-left: 30% !important;
    }

</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.OldPasswordCompare)
    <fieldset>
        <legend>Change Password</legend>
        <table style="width: 70%; height: 100%" class="table container-fluid">
            <tr>
                <td>
                    @Html.LabelFor(model => model.OldPassword)
                </td>
                <td>
                    @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control input-sm chat-input", required = "required" })
                    @Html.ValidationMessageFor(model => model.OldPassword, null, new { @style = "color:red;" })
                </td>
                <td>
                    <span id="oldpwmatch" class="glyphicon glyphicon-remove" style="color: #FF0004;"></span>Old Password
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.NewPassword)
                </td>
                <td>
                    @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control input-sm chat-input", required = "required" })
                    @Html.ValidationMessageFor(model => model.NewPassword, null, new { @style = "color:red;" })
                </td>
                <td>
                    <span id="8char" class="glyphicon glyphicon-remove" style="color: #FF0004;"></span>8 Characters Long<br>
                    <span id="ucase" class="glyphicon glyphicon-remove" style="color: #FF0004;"></span>One Uppercase Letter                  
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.ConfirmPassword)
                </td>
                <td>
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control input-sm chat-input", required = "required" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @style = "color:red;" })
                </td>
                <td>
                    <span id="pwmatch" class="glyphicon glyphicon-remove" style="color: #FF0004;"></span>Passwords Match
                </td>
            </tr>
            <tr>

                <td  class="SubmitButtonTr" colspan="3">
                  
                        <input type="submit" id="changePasswordBtn" class="col-xs-12 btn btn-primary center-block btn-load " data-loading-text="Changing Password..." value="Change Password">               
                </td>
            </tr>
        </table>





        @*<div class="editor-label">
            @Html.LabelFor(model => model.OldPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OldPassword)
            @Html.ValidationMessageFor(model => model.OldPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>*@
    </fieldset>
}

@*<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form method="post" id="passwordForm">


                <input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off">
                <div class="row">
                    <div class="col-sm-6">
                        <span id="8char" class="glyphicon glyphicon-remove" style="color: #FF0004;"></span>8 Characters Long<br>
                        <span id="ucase" class="glyphicon glyphicon-remove" style="color: #FF0004;"></span>One Uppercase Letter
                    </div>
                    <div class="col-sm-6">
                        <span id="lcase" class="glyphicon glyphicon-remove" style="color: #FF0004;"></span>One Lowercase Letter<br>
                        <span id="num" class="glyphicon glyphicon-remove" style="color: #FF0004;"></span>One Number
                    </div>
                </div>





                <input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off">
                <div class="row">
                    <div class="col-sm-12">
                        <span id="pwmatch" class="glyphicon glyphicon-remove" style="color: #FF0004;"></span>Passwords Match
                    </div>
                </div>
                <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="Change Password">
            </form>
        </div>
        <!--/col-sm-6-->
    </div>
    <!--/row-->
</div>*@





<script>
    $(document).ready(function () {

        var ucase = new RegExp("[A-Z]+");
        var lcase = new RegExp("[a-z]+");
        var num = new RegExp("[0-9]+");


        $("#OldPassword").keyup(function ()
        {
            if ($("#OldPassword").val() == $("#OldPasswordCompare").val()) {
                $("#oldpwmatch").removeClass("glyphicon-remove");
                $("#oldpwmatch").addClass("glyphicon-ok");
                $("#oldpwmatch").css("color", "#00A41E");
            } else {
                $("#oldpwmatch").removeClass("glyphicon-ok");
                $("#oldpwmatch").addClass("glyphicon-remove");
                $("#oldpwmatch").css("color", "#FF0004");
            }

        });

        $("#NewPassword").keyup(function ()
        {
            if ($("#NewPassword").val().length >= 8) {
                $("#8char").removeClass("glyphicon-remove");
                $("#8char").addClass("glyphicon-ok");
                $("#8char").css("color", "#00A41E");
            } else {
                $("#8char").removeClass("glyphicon-ok");
                $("#8char").addClass("glyphicon-remove");
                $("#8char").css("color", "#FF0004");
            }


            if (ucase.test($("#NewPassword").val())) {
                $("#ucase").removeClass("glyphicon-remove");
                $("#ucase").addClass("glyphicon-ok");
                $("#ucase").css("color", "#00A41E");
            } else {
                $("#ucase").removeClass("glyphicon-ok");
                $("#ucase").addClass("glyphicon-remove");
                $("#ucase").css("color", "#FF0004");
            }

        });

        $("#ConfirmPassword").keyup(function ()
        {
            if ($("#NewPassword").val() == $("#ConfirmPassword").val()) {
                $("#pwmatch").removeClass("glyphicon-remove");
                $("#pwmatch").addClass("glyphicon-ok");
                $("#pwmatch").css("color", "#00A41E");
            } else {
                $("#pwmatch").removeClass("glyphicon-ok");
                $("#pwmatch").addClass("glyphicon-remove");
                $("#pwmatch").css("color", "#FF0004");
            }

        });


        $("input[type=password]").keyup(function () {
           

            

            //if (lcase.test($("#password1").val())) {
            //    $("#lcase").removeClass("glyphicon-remove");
            //    $("#lcase").addClass("glyphicon-ok");
            //    $("#lcase").css("color", "#00A41E");
            //} else {
            //    $("#lcase").removeClass("glyphicon-ok");
            //    $("#lcase").addClass("glyphicon-remove");
            //    $("#lcase").css("color", "#FF0004");
            //}

            //if (num.test($("#password1").val())) {
            //    $("#num").removeClass("glyphicon-remove");
            //    $("#num").addClass("glyphicon-ok");
            //    $("#num").css("color", "#00A41E");
            //} else {
            //    $("#num").removeClass("glyphicon-ok");
            //    $("#num").addClass("glyphicon-remove");
            //    $("#num").css("color", "#FF0004");
            //}
          



           
        });

        $("#changePasswordBtn").click(function ()
        {
            var ucase = new RegExp("[A-Z]+");
            var lcase = new RegExp("[a-z]+");
            var num = new RegExp("[0-9]+");

            if ($("#NewPassword").val().length < 8) {
                return false;
            } 

            if (!ucase.test($("#NewPassword").val())) {
                return false;
            } 

           
            if ($("#OldPassword").val() != $("#OldPasswordCompare").val()) {
                return false;
            } 


            if ($("#NewPassword").val() != $("#ConfirmPassword").val()) {
                return false;
            } 

        }
        );


    });
</script>
