@model DBLibrary.RIC_Menu_Module

@{
    ViewBag.Title = "MenuDetails";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Menu Details</legend>


        <table style="width:50%;" class="table container-fluid">
            <tr>
                <td>@Html.LabelFor(model => model.RM_MenuName)</td>
                <td>
                    @Html.EditorFor(model => model.RM_MenuName)
                    @Html.ValidationMessageFor(model => model.RM_MenuName)

                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.RM_ControllerName)
                </td>
                <td>
                    @Html.EditorFor(model => model.RM_ControllerName)
                    @Html.ValidationMessageFor(model => model.RM_ControllerName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.RM_ActionName)
                </td>
                <td>
                    @Html.EditorFor(model => model.RM_ActionName)
                    @Html.ValidationMessageFor(model => model.RM_ActionName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.RM_Sort_Order)
                </td>
                <td>
                    @Html.EditorFor(model => model.RM_Sort_Order)
                    @Html.ValidationMessageFor(model => model.RM_Sort_Order)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.RM_Menuitem_Level)
                </td>
                <td>
                    @Html.EditorFor(model => model.RM_Menuitem_Level)
                    @Html.ValidationMessageFor(model => model.RM_Menuitem_Level)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.RM_Roles)
                </td>
                <td>
                    @Html.EditorFor(model => model.RM_Roles)
                    @Html.ValidationMessageFor(model => model.RM_Roles)
                </td>
            </tr>
            <tr>
                <td>
                     <input type="submit" value="Create" />
   
                </td>
                <td></td>
            </tr>

        </table>


           
    </fieldset>
}



