@model DBLibrary.RIC_Employee

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.RE_Emp_Cd)
    <fieldset>       
        <legend >Reset Password</legend>
        @if (ViewBag.Message != null)
        {
            <h3 style="color: green">@ViewBag.Message </h3>
        }
        <br />
        <table style="width: 50%; height: 100%" class="table container-fluid">
            <tr>
                <td>
                    @Html.LabelFor(model => model.RE_Password)
                </td>
                <td>
                    @Html.PasswordFor(model => model.RE_Password, new { @class = "form-control input-sm chat-input" })
                    @Html.ValidationMessageFor(model => model.RE_Password, null, new { @style = "color:red;" })
                </td>
                 <td>
                    <span id="8char" class="glyphicon glyphicon-remove" style="color: #FF0004;"></span>8 Characters Long<br>
                    <span id="ucase" class="glyphicon glyphicon-remove" style="color: #FF0004;"></span>One Uppercase Letter                  
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ConfirmPassword)
                </td>
                <td>
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control input-sm chat-input" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @style = "color:red;" })
                </td>
                <td>
                    <span id="pwmatch" class="glyphicon glyphicon-remove" style="color: #FF0004;"></span>Passwords Match
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" id="ResetPassword" class="btn btn-primary" value="Reset" /></td>
                <td></td>
            </tr>
        </table>

    </fieldset>
}
@Html.ActionLink("Back to Login", "Login")
<script>
    $(document).ready(function () {
        var ucase = new RegExp("[A-Z]+");
        var lcase = new RegExp("[a-z]+");
        var num = new RegExp("[0-9]+");

        $("#RE_Password").keyup(function () {
            if ($("#RE_Password").val().length >= 8) {
                $("#8char").removeClass("glyphicon-remove");
                $("#8char").addClass("glyphicon-ok");
                $("#8char").css("color", "#00A41E")
            } else {
                $("#8char").removeClass("glyphicon-ok");
                $("#8char").addClass("glyphicon-remove");
                $("#8char").css("color", "#FF0004");
            }


            if (ucase.test($("#RE_Password").val())) {
                $("#ucase").removeClass("glyphicon-remove");
                $("#ucase").addClass("glyphicon-ok");
                $("#ucase").css("color", "#00A41E");
            } else {
                $("#ucase").removeClass("glyphicon-ok");
                $("#ucase").addClass("glyphicon-remove");
                $("#ucase").css("color", "#FF0004");
            }

        });

        $("#ConfirmPassword").keyup(function () {
            if ($("#RE_Password").val() == $("#ConfirmPassword").val()) {
                $("#pwmatch").removeClass("glyphicon-remove");
                $("#pwmatch").addClass("glyphicon-ok");
                $("#pwmatch").css("color", "#00A41E");
            } else {
                $("#pwmatch").removeClass("glyphicon-ok");
                $("#pwmatch").addClass("glyphicon-remove");
                $("#pwmatch").css("color", "#FF0004");
            }

        });

        $("#ResetPassword").click(function () {
            var ucase = new RegExp("[A-Z]+");
            var lcase = new RegExp("[a-z]+");
            var num = new RegExp("[0-9]+");

            if ($("#RE_Password").val().length < 8) {
                return false;
            }

            if (!ucase.test($("#RE_Password").val())) {
                return false;
            }  
            if ($("#RE_Password").val() != $("#ConfirmPassword").val()) {
                return false;
            }

        }
       );
    });

</script>


