@model RIC.Models.ManageJobsVM.CheckOutReportView

@{
    ViewBag.Title = "CheckOutReport";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>

<style>
    .ui-autocomplete {
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 150px;
    }

    .btn-toolbar .btn, .btn-toolbar .btn-group, .btn-toolbar .input-group {
        float: right;
        background-color: #337ab7;
        color: white;
        margin-top: -3%;
    }

    .textCapitalize {
        text-transform: capitalize;
    }

    .panel-heading {
        font-weight: 600;
    }
</style>

<legend>Check-Out/Check-In Report</legend>
@using (Html.BeginForm())
{
    <input id="GetDates" type="hidden" name="GetDates" />
    <input id="jobIssueDate" type="hidden" name="jobIssueDate" />

    <input type='hidden' value='@ViewBag.Empcd' id='empCd' name="empCd" />

    <div class="container ">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-primary DivBorder">
                    <div class="panel-heading DivBorder panelHead font-weight-bold">Search Criteria</div>
                    <div class="panel-body">
                        <div class="form-row tblPading">

                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <div class="col-md-6">
                                        <label for="inputEmail4">Year</label>
                                    </div>
                                    <div class=" col-md-6">
                                        @Html.DropDownListFor(model => model.GetYear, Model.YearSelectList, new { @id = "ddlyear", @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class=" col-md-4">
                                        <label for="inputEmail4">From Date</label>
                                    </div>
                                    <div class=" col-md-6">
                                        @Html.TextBoxFor(model => model.FromDate, "{0:MM-dd-yyyy}", new { autocomplete = "off", placeholder = "MM-DD-YYYY", disabled = "@Disabled", @class = "form-control input-sm chat-input input-group date", pattern = "(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\\d\\d" })
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class=" col-md-6">
                                        <label for="inputEmail4">To Date</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.ToDate, "{0:MM-dd-yyyy}", new { autocomplete = "off", placeholder = "MM-DD-YYYY", disabled = "@Disabled", @class = "form-control input-sm chat-input input-group date", pattern = "(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\\d\\d" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="form-group col-md-4">
                                    <div class=" col-md-6">
                                        <label for="inputEmail4">JobDiva Ref No.</label>
                                    </div>
                                    <div class=" col-md-6">
                                        @Html.TextBoxFor(model => model.JobdivaRefSelected, new { @class = "form-control input-sm getValue" })
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <div class="col-md-4">
                                        <label for="inputEmail4">Client ID</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.ClientIDSelected, new { @class = "form-control input-sm getValue" })
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <div class="col-md-6">
                                        <label for="inputEmail4">Job Issue Date</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.JobIssueDateSelected, "{0:MM-dd-yyyy}", new { autocomplete = "off", placeholder = "MM-DD-YYYY", @class = "form-control input-sm chat-input input-group date getValue", pattern = "(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\\d\\d" })

                                    </div>
                                </div>
                                
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-8">
                                    <div class="col-md-4">
                                        <label for="inputEmail4">Check-Out/Check-In Status</label>
                                    </div>
                                    <div class="col-md-3">
                                        @Html.DropDownListFor(model => model.GetJobStatus, Model.JobStatusList, new { @class = "form-control", @title = "All", @id = "ddlClient" })
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div style="margin: auto; width: 25%; padding-left: 7%" class="form-group">
                            <div class="form-group col-md-6">
                                <input type="submit" class="btn btn-primary" value="Search" />
                            </div>
                            <div class="form-group col-md-6">
                                <input id="ResetBtn" type="reset" class="btn btn-danger" value="Clear" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    if (ViewBag.ShowTable == true)
    {
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading panelHead">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-4 ">
                                    <span class="glyphicon glyphicon-list-alt" style="padding-top: 7px;"></span>Search Result
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4">
                                    <div style="z-index: 0;" class="input-group">
                                        <input type="text" id="myInputTextField" class="form-control input-md" name="search">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-md btn-warning"><span class=" glyphicon glyphicon-search"></span></button>

                                            <input type="button" value="Export To Excel" class="btn" style="margin-left: 228%;color:black" onclick="exportexcel()" />

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body table-responsive">

                            <table id="OperationalTable" class="table table-hover ">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(m => m.FilterData.FirstOrDefault().JobDivaRef)</th>
                                        <th>@Html.DisplayNameFor(m => m.FilterData.FirstOrDefault().JobIssueDate)</th>
                                        <th>@Html.DisplayNameFor(m => m.FilterData.FirstOrDefault().ClientRef)</th>

                                        <th>@Html.DisplayNameFor(m => m.FilterData.FirstOrDefault().EmpCd)</th>
                                        <th>@Html.DisplayNameFor(m => m.FilterData.FirstOrDefault().EmployeeName)</th>

                                        <th>@Html.DisplayNameFor(m => m.FilterData.FirstOrDefault().CheckedoutDate)</th>
                                        <th>@Html.DisplayNameFor(m => m.FilterData.FirstOrDefault().CheckedInDate)</th>
                                        <th>@Html.DisplayNameFor(m => m.FilterData.FirstOrDefault().Jobstatus)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.FilterData)
                                    {
                                    <tr>
                                        <td>@item.JobDivaRef</td>
                                        <td>@item.JobIssueDate</td>
                                        <td>@item.ClientRef</td>
                                        <td>@item.EmpCd</td>
                                        <td class="textCapitalize">@item.EmployeeName</td>
                                        <td>@item.CheckedoutDate</td>
                                        <td>@item.CheckedInDate</td>
                                        <td>@item.Jobstatus</td>
                                    </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}




<script>

    $('#ResetBtn').click(function () {
        var jobRepartPartialUrl = '@Url.Action("CheckOutReport")';
        window.location.replace(jobRepartPartialUrl);
    });



    var $clientTable = $('#OperationalTable').DataTable({
        searching: false,
        "oLanguage": {
            "sEmptyTable": "No Records Found"
        }
    });



     $('#JobIssueDateSelected').datepicker({
            dateFormat: 'mm-dd-yy',
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            }
        });


    $('#FromDate').datepicker({
        dateFormat: 'mm-dd-yy',
        maxDate: new Date(),
       
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-arrow-up",
            down: "fa fa-arrow-down"
        }
            ,
        onSelect: function (selected) {

            //var dt = new Date(selected.replace(/(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3"));
            var dt = new Date(selected);
            dt.setDate(dt.getDate());
            $("#ToDate").datepicker("option", "minDate", dt);
        }
    });
    $('#ToDate').datepicker({
        dateFormat: 'mm-dd-yy',
        maxDate: new Date(),
        
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-arrow-up",
            down: "fa fa-arrow-down"
        },
        onSelect: function (selected) {
         //var dt = new Date(selected.replace(/(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3"));
            var dt = new Date(selected);
            dt.setDate(dt.getDate() - 1);
            $("#FromDate").datepicker("option", "maxDate", dt);
        }
    });

    $(document).ready(function () {
                $("#JobIssueDateSelected").val("");


        $("#myInputTextField").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#OperationalTable tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });


        $("#ddlyear").change(function () {

            if ($(this).val() == 0) {
                $("#FromDate,#ToDate").val("");
                $("#FromDate,#ToDate").prop("disabled", true);
            }
            else {
                $("#FromDate,#ToDate").prop("disabled", false);

            }
            return true;

        });



        if ($("#ddlyear option:selected").val() == 0) {
            $("#FromDate,#ToDate").val("");
            $("#FromDate,#ToDate").prop("disabled", true);
        }
        else

        {
            $("#FromDate,#ToDate").prop("disabled", false);
        }

            $("#ddlClient").change(function () {
                $(this).attr("title",$(this).val());
            }).change()


        $("Input[type=Submit]").click(function () {

            $(".getValue").val().trim();
            var jobIssueDate = $("#JobIssueDateSelected").val().trim();
            var $year = $("#ddlyear option:selected").val();
            var $getFromDate = $("#FromDate").val().trim();
            var $getToDate = $("#ToDate").val().trim();

            $("[id*=GetDates]").val($getFromDate + $getToDate);

            $("#jobIssueDate").val(jobIssueDate);

            if ($year != "0" && $getFromDate != "" && $getToDate != "") {

                var fromdate = new Date($getFromDate).getFullYear();
                var todate = new Date($getToDate).getFullYear();
                if ($year != fromdate || $year != todate) {
                    alert("Enter Valid Dates");
                    return false;

                }
            }
            $("#FromDate,#ToDate").prop("disabled", false)
            return true;

        });

    });


    function exportexcel() {

        $clientTable.destroy();

        $("#OperationalTable").table2excel({
            name: "Table2Excel",
            filename: "check Out Report",
            fileext: ".xls"
        });

        $clientTable = $('#OperationalTable').DataTable({
            searching: false,
            "oLanguage": {
                "sEmptyTable": "No Records Found"
            }
        });
    }

</script>





