@model RIC.Models.SharedReqSubmittals.SharedReqSubmittalsVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<style>
    .MainTable {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        .MainTable td, .customers th {
            border: 1px solid #ddd;
            padding: 8px;
            vertical-align: middle !important;
        }

        .MainTable tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .MainTable tr:hover {
            background-color: #ddd;
        }

        .MainTable th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4e7bda;
            color: white;
        }

    .fa-plus:hover {
        cursor: pointer;
    }

    .File {
        cursor: pointer;
    }

    .modal-dialog {
        height: 800px !important;
    }

    .modal-content {
        width: 100%;
    }


    .Hold {
        color: white;
        background-color: #f77822;
        font-size: 14px;
        border-radius: 50px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .Close {
        color: #f00;
        color: white;
        background-color: #e20c0c;
        font-size: 14px;
        border-radius: 50px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .Open {
        color: white;
        background-color: #31dc5c;
        font-size: 14px;
        border-radius: 50px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .fa {
        color: green;
    }

    .fa-comment-alt {
        cursor: pointer;
        color: green;
        font-size: 15px;
    }

    .fa-plus {
    font-size:25px;
    }
</style>

<div>
    <div class="panel panel-default" style="margin-bottom: 0px;">
        <div class="panel-heading text-center">
            <h3>Assigned Requirements</h3>
        </div>
        <div class="panel-body text-center" style="max-height: 640px">
            @if (Model != null)
            {
                if (Model.Message == null)
                {

                <div style="overflow: scroll; overflow-y: hidden;">
                    <table id="Fetchedcustomers" class="table table-striped table-bordered table-list MainTable ">
                        <thead style="white-space: nowrap;">
                            <tr>
                                <th>Sub Details</th>
                                <th>Add Comments</th>
                                <th>Ref File</th>
                                <th>RMS Status</th>
                                <th>JD Ref</th>
                                <th>Job Title</th>
                                <th>Issued Dt</th>
                                <th>RMS Ent Dt</th>
                                <th>Company</th>
                                <th>State</th>
                                <th>City</th>
                                <th>Work Loc.</th>
                                <th>Priority/ Division</th>
                                <th>Category</th>
                                <th>Sub Allowed</th>
                                <th>Int sub</th>
                                <th>Ext Sub</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.ListSharedReq.Count; i++)
                            {                                     
                                <tr>
                                    @Html.HiddenFor(m => m.ListSharedReq[i].HDRID, new { @class = "HDRID" })
                                    <td>
                                        @*<input class="Modelbtn" type="button" value="Add Note" />*@
                                        @if (Model.ListSharedReq[i].RMS_SharedReqSubmittals.Count > 0)
                                        { 
                                            <div class="FetchedSubmittals" style="display: none">
                                                <p style="margin-top:10px; margin-bottom:2px;"><b>Previous Submittals:</b></p>
                                                <table id="" class="table table-striped table-bordered table-list">
                                                    <thead style="white-space: nowrap;">
                                                        <tr>
                                                            <th>Candidate Name</th>
                                                            <th>Candidate Email-ID</th>
                                                            <th>Entered User</th>
                                                            <th>Entered Date</th>
                                                            <th>Submitted By</th>
                                                            <th>Submitted Date</th>
                                                            <th>Comments</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @for (int cnt = 0; cnt < Model.ListSharedReq[i].RMS_SharedReqSubmittals.Count; cnt++)
                                                        { 
                                                            <tr>
                                                                <td>
                                                                    @Model.ListSharedReq[i].RMS_SharedReqSubmittals[cnt].RS_CandidateName
                                                                </td>
                                                                <td>
                                                                    @Model.ListSharedReq[i].RMS_SharedReqSubmittals[cnt].RS_CandidateEmail
                                                                </td>
                                                                <td>
                                                                    @Model.ListSharedReq[i].RMS_SharedReqSubmittals[cnt].RS_EnteredName
                                                                </td>
                                                                <td>
                                                                    @(Model.ListSharedReq[i].RMS_SharedReqSubmittals[cnt].RS_EntredDate.ToString("MM/dd/yyyy"))
                                                                </td>
                                                                <td>
                                                                    @Model.ListSharedReq[i].RMS_SharedReqSubmittals[cnt].RS_SubmittedBy
                                                                </td>
                                                                <td>
                                                                    @(Model.ListSharedReq[i].RMS_SharedReqSubmittals[cnt].RS_SubmittedDate.ToString("MM/dd/yyyy"))
                                                                </td>
                                                                <td class="text-center">
                                                                    @if (Model.ListSharedReq[i].RMS_SharedReqSubmittals[cnt].RS_Comments != null)
                                                                    {
                                                                        <i class="fas fa-comment-alt" data-toggle="tooltip" title="@Model.ListSharedReq[i].RMS_SharedReqSubmittals[cnt].RS_Comments"></i>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                        }
                                        <input class="btn btn-info Modelbtn" type="button" value="ADD" style="font-weight:bold" />

                                    </td>
                                    <td>
                                        @foreach (var note in Model.ListSharedReq[i].Notes)
                                        { 
                                            @Html.Hidden("Note", note, new { @class = "Notes" })
                                        }
                                         <i class="fas fa-plus fa-2x ModelAddNote" style="color: #5eba7d;"></i>
                                       
                                    </td>
                                    <td>
                                        @if (@Model.ListSharedReq[i].FileType != null)
                                        {
                                            <div class="File">
                                                <i class="fas fa-paperclip fa-lg"></i>
                                                @Html.HiddenFor(m => m.ListSharedReq[i].FileType, new { @class = "FileType" })
                                            </div>
                                        }

                                    </td>
                                    <td>
                                        @if (@Model.ListSharedReq[i].RMSJobStatus == "HOLD")
                                        {
                                            <b class="Hold">@Model.ListSharedReq[i].RMSJobStatus</b>
                                        }
                                        else if (@Model.ListSharedReq[i].RMSJobStatus == "CLOSE")
                                        {
                                            <b class="Close">@Model.ListSharedReq[i].RMSJobStatus</b>
                                        }
                                        else
                                        {
                                            <b class="Open">@Model.ListSharedReq[i].RMSJobStatus</b>
                                        }

                                    </td>

                                    <td>
                                        @Html.HiddenFor(m => m.ListSharedReq[i].AssignedID, new { @class = "AssignedID" })
                                        <a href="https://www1.jobdiva.com/employers/myjobs/vieweditjobform.jsp?jobid=@Model.ListSharedReq[i].JobID" target="_blank"><b>@Model.ListSharedReq[i].JobDivaRef</b></a>
                                    </td>
                                    <td>
                                        @Html.HiddenFor(m => m.ListSharedReq[i].JobTitle, new { @class = "JobTitle" })
                                        @Model.ListSharedReq[i].JobTitle</td>
                                    <td>
                                        @Model.ListSharedReq[i].JobIssueDate.ToString("MM/dd/yyyy")
                                    </td>
                                    <td>
                                        @Model.ListSharedReq[i].JobCreatedDate
                                    </td>
                                    <td>
                                        @Model.ListSharedReq[i].Company
                                    </td>
                                    <td>
                                        @Model.ListSharedReq[i].State
                                    </td>
                                    <td>
                                        @Model.ListSharedReq[i].City
                                    </td>
                                    <td>
                                        @Model.ListSharedReq[i].WorkLocation
                                    </td>
                                    <td>
                                        @if (Model.ListSharedReq[i].Priority == "")
                                        {
                                            @:-
                            }
                                        else
                                        {
                                            @Model.ListSharedReq[i].Priority
                                        }
                                        /
                            @if (Model.ListSharedReq[i].Division == "")
                            { 
                                @:-
                            }
                            else
                            { 
                                @Model.ListSharedReq[i].Division
                            }

                                    </td>
                                    <td>
                                        @Model.ListSharedReq[i].Category
                                    </td>
                                    <td>
                                        @Model.ListSharedReq[i].MaxSubAllowed
                                    </td>
                                    <td>
                                        @Model.ListSharedReq[i].InternalSub
                                    </td>
                                    <td>
                                        @Model.ListSharedReq[i].ExternalSub
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <br />
                </div>
                <br />
               
                }
                else
                { 
                <h3>@Model.Message </h3>
                }
            }
        </div>
    </div>
</div>
<div class="modal fade" id="Modelsubmissions" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

    <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title"  id="exampleModalLongTitle">Submission Details</h2>
            </div>
            <div class="modal-body" style="font-family: Microsoft Sans Serif">
                <input id="AssignedID" name="AssignedID" value="" type="hidden" />
                <div id="JobTitle" style="font-size: medium; font-weight: bold; background-color:#5bc0de">
                </div>

                @*                <div id="JobNotes" style="margin-top: 2px; border: 2px solid #dad4d4; border-radius: 5px; background-color: #d9ebff; display:none; ">
                </div>

                <div id="AssignmentNotes" style="margin-top: 2px; border: 2px solid #dad4d4; border-radius: 5px; background-color: #624a7138; display:none;">
                </div>*@
                <div id="PreviousSubmittals" style="overflow: scroll; overflow-y: hidden;">
                </div>
                <h4>Candidate Details</h4>
                <div style="display: inline-grid">
                    Candidate Name:
                    <input id="CandidateName" type="text" />
                    Candidate Email-Id:
                    <input id="CandidateEmail" type="email" />
                </div>
                <div style="display: inline-grid">
                    Entered User:
                    <input id="EnteredUser" type="text" />
                    Entered Date:
                    <input id="EnteredDate" class="datepicker" type="text" />
                </div>
                <div style="display: inline-grid">
                    Submitted By:
                    <input id="SubmittedBy" type="text" />
                    Submitted Date:
                    <input id="SubmittedDate" class="datepicker" type="text" />
                </div>
                <div style="margin-top: 2%">
                    <textarea class="textarea" style="width: 100%; height: 100px;" placeholder="Add Comments..." maxlength="900"></textarea>
                </div>
            </div>
            <div class="text-center  justify-content-center" style="padding: 1%;">
                <button id="btnSave" type="button" class="btn btn-success" style="margin-right: 2%">Submit</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModelComments" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

    <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="exampleModalLongTitle">Add Comments</h2>
            </div>
            <div class="modal-body">
                <input id="HDRID" name="RS_HDRID" value="" type="hidden" />
                <div id="JobTitle" style="font-size: medium; font-weight: bold; background-color:#5bc0de; margin-bottom:8px;">
                </div>
                <div id="JobNotes" style="margin-top: 2px; border: 2px solid #dad4d4; border-radius: 5px; background-color: #d9ebff">
                </div>
                <br />
                <b>Add Notes: </b>
                <textarea class="textarea" style="width: 100%; height: 100px;" placeholder="Add Comments..." maxlength="900"></textarea>

            </div>
            <div class="text-center  justify-content-center" style="padding: 1%;">
                <button id="btnAdd" type="button" class="btn btn-success btnAdd" style="margin-right: 2%">Save</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModelFile" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

    <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id=""></h2>
            </div>
            <div class="modal-body" style="font-family: Microsoft Sans Serif">
            </div>
            <div class="text-center  justify-content-center" style="padding: 1%;">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $(function () { // will trigger when the document is ready
            $('.datepicker').datepicker(); //Initialise any date pickers
        });

        var color;
        $(".MainTable tr").click(function () {
            $(".MainTable tr").each(function () { $(this).css("background-color", "#f9f9f9"); });

            $(this).css("background-color", "#bdbbbb");
        });

        var order = [[7, "desc"]];
        var table = $('#Fetchedcustomers').DataTable({
            "order": order,
            "scrollY": "500px",
            "scrollX": true,
            "scrollCollapse": true,
            columnDefs: [
   { orderable: false, targets: [0, 1, 2] }
            ]
        });

        $(".File").click(function () {

            $("#ModelFile .modal-body").text("");

            if ($(this).closest('tr').find('.FileType').val() != "application/vnd.openxmlformats-officedocument.wordprocessingml.document") {

                //$($(this).children("object").clone().css({ "display": "block", "width": "100%", "height": "700px" })).appendTo("#ModelFile .modal-body");

                $('<iframe id="ifrm" src="@Url.Action("GetFile")?AssignedID=' + $(this).closest('tr').find('.AssignedID').val() + '" />').css({ "display": "block", "width": "100%", "height": "700px" }).appendTo("#ModelFile .modal-body");

                //$($('<object width="100%" height="100%" data="@Url.Action("GetFile")?AssignedID=' + $(this).closest('tr').find('.AssignedID').val() + '"></object>')).css({ "display": "block", "width": "100%", "height": "700px" }).appendTo("#ModelFile .modal-body");        

                $("#ModelFile").data({ backdrop: 'static', keyboard: true });

                $("#ModelFile").modal("show");

                setTimeout(function () {
                    var iframe = document.getElementById('ifrm');
                    var innerDoc = iframe.contentDocument || iframe.contentWindow.document;

                    $($(innerDoc).find('img')[0]).css({ "width": "100%", "height": "100%" });
                }, 500);
            } else {
                alert('Word document will be downloaded.');
                $('<iframe id="ifrm" src="@Url.Action("GetFile")?AssignedID=' + $(this).closest('tr').find('.AssignedID').val() + '" />').css({ "display": "block", "width": "100%", "height": "700px" }).appendTo("#ModelFile .modal-body");
            }
        });

        var thisBtn;
        $('.Modelbtn').click(function () {
            thisBtn = $(this);
            $("#Modelsubmissions").data({ backdrop: 'static', keyboard: false });
            $("#Modelsubmissions").modal("show");

            $('#JobTitle').text("");
            $("#JobNotes").text("");
            $("#AssignmentNotes").text("");
            $("#PreviousSubmittals").text("");
            $('.textarea').val("");

            $("#Modelsubmissions #AssignedID").val($(this).closest('tr').find('.AssignedID').val());

            $("#JobTitle").append('<p style="margin:0px">JobTitle: ' + $(this).closest('tr').find('.JobTitle').val() + '</p>');

            $("#JobNotes").append('<p style="margin:0px">Created by: ' + $(this).closest('tr').find('.JobCreatedBy').val() + '</p>');
            $("#JobNotes").append('<p style="margin:0px">Created Date: ' + $(this).closest('tr').find('.JobCreatedDate').val() + '</p>');
            $("#JobNotes").append('<p style="margin:0px">Job Instructions: ' + $(this).closest('tr').find('.JobInstructions').val() + '</p>');

            $("#AssignmentNotes").append('<p style="margin:0px">Assigned by: ' + $(this).closest('tr').find('.JobAssignedBy').val() + '</p>');
            $("#AssignmentNotes").append('<p style="margin:0px">Assigned Date: ' + $(this).closest('tr').find('.JobAssignedDate').val() + '</p>');
            $("#AssignmentNotes").append('<p style="margin:0px">Assignment Instructions: ' + $(this).closest('tr').find('.JobAssignedInstructions').val() + '</p>');

            $(this).closest('tr').find('.FetchedSubmittals').clone().appendTo(("#PreviousSubmittals"));
            $("#PreviousSubmittals .FetchedSubmittals").css("display", "block");

            $("#CandidateName").val("");
            $("#CandidateEmail").val("");

            $("#EnteredUser").val("");
            $("#EnteredDate").val("");

            $("#SubmittedDate").val("");
            $("#SubmittedBy").val("");
        });


        $("#btnSave").click(function () {
            if ($('#CandidateName').val() != "" && $("#CandidateEmail").val() != "" && $('#EnteredUser').val() != "" && $('#EnteredDate').val() != "" && $('#SubmittedBy').val() != "" && $('#SubmittedDate').val() != "") {

                var form = $("<form action='SaveSubmittals' method='post' style='display:none' ></form>");

                $($('#Modelsubmissions #AssignedID').clone()).appendTo(form);

                $('<input name="CandidateName" value="' + $('#Modelsubmissions #CandidateName').val() + '"/>').appendTo(form);
                $('<input name="CandidateEmail" value="' + $('#Modelsubmissions #CandidateEmail').val() + '"/>').appendTo(form);

                $('<input name="EnteredUser" value="' + $('#Modelsubmissions #EnteredUser').val() + '"/>').appendTo(form);
                $('<input name="EnteredDate" value="' + $('#Modelsubmissions #EnteredDate').val() + '"/>').appendTo(form);

                $('<input name="SubmittedDate" value="' + $('#Modelsubmissions  #SubmittedDate').val() + '"/>').appendTo(form);
                $('<input name="SubmittedBy" value="' + $('#Modelsubmissions #SubmittedBy').val() + '"/>').appendTo(form);

                $('<input name="Comments" value="' + $('#Modelsubmissions .textarea').val() + '"/>').appendTo(form);
                form.appendTo('body').submit();

                $("#Modelsubmissions").modal("hide");
            } else {
                alert("Please enter all input fields.")
            }

        });
    });

    $('.ModelAddNote').click(function () {
        thisBtn = $(this);
        $("#ModelComments").data({ backdrop: 'static', keyboard: false });
        $("#ModelComments").modal("show");

        $('#ModelComments .textarea').val("");
        $("#ModelComments .modal-body p").text("");

        $('#ModelComments #JobTitle').text("");
        $("#ModelComments #JobNotes").text("");

        $("#ModelComments #HDRID").val($(this).closest('tr').find('.HDRID').val());
        $("#ModelComments #JobTitle").append('<p style="margin:0px">JobTitle: ' + $(this).closest('tr').find('.JobTitle').val() + '</p>');

        //$("#JobNotes").append('<p style="margin:0px">Created by: ' + $(this).closest('tr').find('.JobCreatedBy').val() + '</p>');
        //$("#JobNotes").append('<p style="margin:0px">Created Date: ' + $(this).closest('tr').find('.JobCreatedDate').val() + '</p>');

        $(this).closest('tr').find('.Notes').each(function () {

            $("#ModelComments #JobNotes").append('<p style="margin:0px">' + $(this).val() + '</p>');
        });

        //$('.textarea').val($(this).closest('tr').find('.Comments').val());

    });

    $(".btnAdd").click(function () {
        debugger;
        if ($('#ModelComments .textarea').val().trim().length > 0) {

            var form = $("<form action='SaveComments' method='post' style='display:none' ></form>");
            $($('#ModelComments #HDRID').clone()).appendTo(form);
            $('<input name="Instructions" value="' + $('#ModelComments .textarea').val().trim() + '"/>').appendTo(form);

            form.appendTo('body').submit();
        } else {

        }
        $("#ModelComments").modal("hide");
    });

    $(function () {
        $(document).tooltip({
            position: {
                my: "center bottom-20",
                at: "center top",
                using: function (position, feedback) {
                    $(this).css(position);
                    $("<div>")
                      .addClass("arrow")
                      .addClass(feedback.vertical)
                      .addClass(feedback.horizontal)
                      .appendTo(this);
                }
            }
        });
    });
</script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>
    .ui-tooltip, .arrow:after {
        position: absolute;
        background: #4e7bda;
        border: 1px solid black;
    }

    .ui-tooltip {
        position: absolute;
        padding: 5px 5px;
        color: white;
        border-radius: 10px;
        font: 12px "Open Sans", Sans-Serif;
        /*text-transform: uppercase;*/
        box-shadow: 0 0 7px black;
        opacity: inherit;
    }

    .arrow {
        width: 60px;
        height: 16px;
        overflow: hidden;
        position: absolute;
        left: 50%;
        margin-left: -35px;
        bottom: -16px;
    }

        .arrow.top {
            position: absolute;
            top: -16px;
            bottom: auto;
        }

        .arrow.left {
            left: 20%;
        }

        .arrow:after {
            content: "";
            position: absolute;
            left: 20px;
            top: -20px;
            width: 25px;
            height: 25px;
            box-shadow: 6px 5px 9px -9px black;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .arrow.top:after {
            position: absolute;
            bottom: -20px;
            top: auto;
        }
</style>
